<ion-view view-title="Connexion">
  <ion-content>
  
    <div align="center" class="list">
      <img src="img/logo.png">
      <p></p> <p></p> <p></p>
      <form>


  <label class="item item-input">
  <i class="icon ion-ios-person-outline"></i>
  <input type="text" placeholder="ID élève" ng-model="credentials.username" autocapitalize="off" autocorrect="off">
</label>


<label class="item item-input">
  <i class="ion-ios-locked-outline"></i>
  <input placeholder="Mot de passe" type="password" placeholder="Votre mot de passe" ng-model="credentials.password">
</label>

        <div class="item">
         <button class="button icon-left ion-log-in button-positive"  ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
          <a ng-href="https://meducloud.com/education/login/forgot_password" mm-browser title="Mot de passe oublié"  class="button icon-left ion-ion-forward button-light" >Oublié ?</a>
        </div>
             
      </form>
    </div>
    <div align="center" class="tabs tabs-icon-top">


  <a ng-click="showHelp()" class="tab-item">
    <i class="icon ion-social-youtube-outline"></i>
    Présentation
  </a>


<a  href="https://meducloud.com/activation/" class="tab-item">
    <i class="icon ion-key"></i>
    Activation
  </a>
</div>
  </ion-content>
</ion-view>
