<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">Présentation de Meducloud</h1>
        <button class="button button-icon ion-close-round" ng-click="closeHelp()" aria-label="{{ 'mm.core.close' | translate }}"></button>
    </ion-header-bar>
    <ion-content padding="true"  class="padding">
        <mm-format-text class="mm-content-with-float">
       MEDUCLOUD est un programme d'innovation scolaire en ligne qui vous apporte l'école du futur.  
<p></p>Avec une capacité mininum de gérer environs 80000000 élèves et 100000 écoles avec des fonctionnalités liées avec le système éducatif haitien.

<a  class="button button-block button-calm"  href="https://meducloud.com/" class="tab-item">
    <i class="icon ion-navicon"></i>
    Détails...
  </a>




        </mm-format-text>
    </ion-content>
</ion-modal-view>
